<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
       <!--    bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  
      
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>   
      
      
<!--    summernote  -->
      
      <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
      <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>    
      
  </head>
  <body>
      
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container-fluid">

<!-- BRAND -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#alignment-example" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/"><img class="logo" style="width:40px" src="images/un-logo.png" ></a>
</div>

<!-- COLLAPSIBLE NAVBAR -->
<div class="collapse navbar-collapse" id="alignment-example">

<!-- Links -->
<ul class="nav navbar-nav">
<li ><a href="/new">New Blog<span class="sr-only"></span></a></li>
<li><a href="/blogs">Archive</a></li>
<li><a href="/contact">Contact</a></li>
</ul>

<!-- Button -->
<button type="button" class="btn btn-default navbar-btn navbar-right">Sign in</button>

</div>

</div>
</nav>  
      
      <div class="container">
         
          
        <br>  
        <br>
          
        <div class="jumbotron">  
          
        
        </div>  
        <h1>Contact Us</h1>
          
          
     <div class="row">
      
      <form name="contactForm">
          
          
        <div class="input-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="FirstName" placeholder="First Name"> 
        </div>    
          
        <div class="input-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" placeholder="Last Name" id="author" name="author"> 
        </div> 
          

        <div class="input-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" placeholder="Email Address" id="email" name="email"> 
        </div>
          
          
          
        <div class="input-group">
            <label for="message">Message</label>
            <textarea id="summernote" name="message"></textarea>
          
        </div>   
          
         <a href="/contact/submit"><button type="submit" class="btn btn-primary">Send</button> </a>
          
     </form>
      
      
     </div> 
      
          <div class="panel-footer footer text-center">
                <p>All rights reserved 2018 | Ilyaaz.</p>
        </div> 

      </div>
      
      <script>
      
         $(document).ready(function() {
        $('#summernote').summernote();
        });
      
      </script>
          
  </body>
</html>